 *{ 
Margin:0px;
Padding:0;
Box-sizing: border-box;
}

html,body{
Width:100%;
Height:100%;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}
#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 1.5rem;
    font-weight: 400;
}
#logo h3{
    color: #FF5555;
    font-size: 2rem;
    font-weight: 900;
}

.acount-id{
    height: 1.5rem;
    background-color: rgb(206, 203, 203);
}
#full-nav{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 5rem;
}
#first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main{
    display: flex; 
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}
#main h3{
    color: rgb(104, 103, 103);
}
#right{
    gap: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
}

#second-nav{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 30% 0 25%;
    border: 1px solid gray;
    border-radius: 2.6rem;
    padding: 1rem ;
    width: 50%;
}
#line{
    width: 2px;
    height: 5px;
    color: gray;
}
#account{
    border: 1px solid gray;
    padding: 1rem 1rem;
    border-radius: 30px;
    background-color: rgb(236, 232, 232);
    cursor: pointer;
}
#search{
    background-color: #FF5555;
    padding: 1.8rem 1.8rem ;
    border-radius: 50%;
    position: absolute;
    right: 27%;
    margin-left: 2rem;
}

span{
    font-size: 1.2rem;
    color: gray;
}




/* code by akshit  */
.content{
    width: 80%;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 10%;
}
.card{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content img{
    height: 2rem;
    justify-content: center;
    align-items: center;
}
/* #newdiv{
    display: flex;
    flex-direction: column;
    /* height: 14px; */
    /* justify-content: center; */
/* } */ 
.img1{
    margin-left: 14px;
}
#imgt{
    margin-left: 7px;
}
#img-ed{
    margin-left: 56px;
}
#imgtro{
    margin-left: 24px;
}

#img-gp{
    margin-left: 35px;
}

#img-hh{
    margin-left: 57px;
}
#img-cs{
    margin-left: 50px;
}
#filter{
    height: 34px;
    width: 65px;
    
}
#filter:hover{
    background-color: rgb(202, 202, 202);
    cursor: pointer;
}

.content div:hover{
    color: #a1a1a1;
    font-weight: bold;
}

.row{
    display: flex;
    gap: 25px;
    align-items: center;
}
.img{
    width: 400px;
    height: 400px;
    border-radius: 15px;
}
button{
    background-color: white;
    font-size: 1.3rem;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}



/* Aniket */

#main-content{
    margin-top: 5rem;
    display: grid;
    width: 100%;
    margin-left: 58px;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* margin: 100px; */
}   

.chota-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.ri-heart-line{
    position: absolute;
    /* margin-top: 0px; */
    /* margin-left: 70%; */
}
.name{
  width: 50%;
  font-size: 20px;
}

.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}
.explore{
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgb(39, 38, 38);
    color: white;
    margin: 20px;
}
.last{
    /* margin: 60px; */
    background-color: #F7F7F7;
    padding: 80px 80px;
}
h1{
    color: rgb(39, 38, 38);
    margin-bottom: 30px;
}
#new{
    margin: 10px;
    cursor: pointer;
}
#new:hover{
    border-bottom: 3px solid #d8d8d8;
}